<section
  class="slpEventList slp-commit-grid slp-relative slp-mb-64 md:slp-mb-160"
>
  <div class="slp-col-span-full md:slp-col-span-5">
    <div class="slp-col-span-full slp-relative">
      <div class="slp-max-w-prose">
        <%= partial "includes/cms/event/slp-heading", locals: { heading: block_list.subheading }  %>
      </div>
    </div>
    <p
      class="slp-font-normal slp-text-grayscale-333 slp-text-xl slp-mb-8 slp-leading-tight slp-max-w-3xl"
    >
      <%= block_list.subheading %>
    </p>
    <p
      class="slp-font-normal slp-text-grayscale-333 slp-text-base slp-leading-normal slp-max-w-3xl slp-mb-32"
    >
      <%= block_list.body %>
    </p>
    <% if block_list.ctaText %>
      <a href="<%= block_list.ctaLink %>" class="sm:slp-min-w-min slp-btn slp-btn--secondary">
        <%= block_list.ctaText %>
      </a>
    <% end %>
  </div>
  

  <div class="slp-col-span-full md:slp-col-span-5">
    <hr class="slp-border-t slp-border-grayscale-c3 slp-col-span-full slp-mb-24">
    <% block_list.items.each do | item | %>
      <div class="">
        <!-- hard code icons, defaults to checkmark if undefined -->
        <% if item.icon == 'checkmark' %>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="slp-inline slp-align-baseline slp-mr-12"><g clip-path="url(#clip0)"><path d="M6.74245 10.8063C6.57344 10.8064 6.41124 10.7397 6.29125 10.6207L4.48005 8.79665C4.41591 8.73832 4.36428 8.66757 4.32831 8.58869C4.29234 8.50981 4.27278 8.42444 4.2708 8.33777C4.26882 8.25109 4.28447 8.16492 4.3168 8.08448C4.34913 8.00404 4.39747 7.931 4.45888 7.86981C4.5203 7.80861 4.5935 7.76053 4.67406 7.72849C4.75461 7.69644 4.84084 7.68109 4.9275 7.68338C5.01417 7.68566 5.09947 7.70553 5.17822 7.74178C5.25698 7.77803 5.32755 7.82991 5.38565 7.89425L6.75205 9.26065L10.624 5.37905C10.7474 5.27875 10.9036 5.22795 11.0624 5.23653C11.2211 5.24511 11.371 5.31246 11.4828 5.42547C11.5946 5.53847 11.6603 5.68905 11.6672 5.84787C11.6741 6.00669 11.6217 6.16239 11.52 6.28465L7.19685 10.6207C7.13704 10.68 7.06612 10.7269 6.98815 10.7587C6.91017 10.7906 6.82667 10.8067 6.74245 10.8063Z" fill="#7D2BD9"></path> <path d="M8.00003 16C6.00784 15.9991 4.08767 15.2549 2.6152 13.913C1.14273 12.5711 0.223917 10.7281 0.038519 8.74452C-0.146879 6.76097 0.41448 4.77961 1.61277 3.18809C2.81106 1.59657 4.56005 0.5094 6.51756 0.139291C8.47508 -0.230819 10.5003 0.142761 12.1969 1.18694C13.8935 2.23112 15.1395 3.87076 15.6911 5.78508C16.2426 7.69939 16.0601 9.75063 15.1792 11.5375C14.2983 13.3243 12.7824 14.7182 10.928 15.4464C10.772 15.5 10.6014 15.4912 10.4517 15.422C10.3019 15.3528 10.1847 15.2285 10.1245 15.0749C10.0642 14.9214 10.0656 14.7505 10.1282 14.5979C10.1909 14.4454 10.31 14.3229 10.4608 14.256C12.0187 13.645 13.2925 12.4747 14.0331 10.9741C14.7737 9.47353 14.9278 7.75061 14.4652 6.14242C14.0027 4.53423 12.9567 3.15648 11.532 2.27871C10.1073 1.40095 8.40634 1.08632 6.76192 1.39639C5.1175 1.70646 3.64793 2.6189 2.6407 3.95523C1.63348 5.29155 1.16107 6.95559 1.31591 8.62181C1.47074 10.288 2.24168 11.8365 3.47789 12.9644C4.7141 14.0922 6.32664 14.7183 8.00003 14.72C8.16977 14.72 8.33256 14.7874 8.45258 14.9075C8.5726 15.0275 8.64003 15.1903 8.64003 15.36C8.64003 15.5298 8.5726 15.6925 8.45258 15.8126C8.33256 15.9326 8.16977 16 8.00003 16Z" fill="#7D2BD9"></path></g> <defs><clipPath id="clip0"><rect width="16" height="16" fill="white"></rect></clipPath></defs></svg>
        <% elsif item.icon == 'calendar' %>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="slp-inline slp-align-baseline slp-mr-12"><path d="M14.9345 6.26242H1.06566C0.895921 6.26242 0.733134 6.19499 0.613111 6.07497C0.493088 5.95495 0.425659 5.79216 0.425659 5.62242C0.425659 5.45268 0.493088 5.2899 0.613111 5.16987C0.733134 5.04985 0.895921 4.98242 1.06566 4.98242H14.9345C15.1042 4.98242 15.267 5.04985 15.387 5.16987C15.507 5.2899 15.5745 5.45268 15.5745 5.62242C15.5745 5.79216 15.507 5.95495 15.387 6.07497C15.267 6.19499 15.1042 6.26242 14.9345 6.26242Z" fill="#7D2BD9"></path> <path d="M13.6545 16H2.34566C1.83644 16 1.34808 15.7977 0.988014 15.4376C0.627944 15.0776 0.425659 14.5892 0.425659 14.08V7.5648C0.425659 7.39507 0.493088 7.23228 0.613111 7.11226C0.733134 6.99223 0.895921 6.9248 1.06566 6.9248C1.2354 6.9248 1.39818 6.99223 1.51821 7.11226C1.63823 7.23228 1.70566 7.39507 1.70566 7.5648V14.08C1.70566 14.2497 1.77309 14.4125 1.89311 14.5326C2.01313 14.6526 2.17592 14.72 2.34566 14.72H13.6545C13.8242 14.72 13.987 14.6526 14.107 14.5326C14.227 14.4125 14.2945 14.2497 14.2945 14.08V7.5648C14.2945 7.39507 14.3619 7.23228 14.4819 7.11226C14.6019 6.99223 14.7647 6.9248 14.9345 6.9248C15.1042 6.9248 15.267 6.99223 15.387 7.11226C15.507 7.23228 15.5745 7.39507 15.5745 7.5648V14.08C15.5745 14.5892 15.3722 15.0776 15.0121 15.4376C14.652 15.7977 14.1637 16 13.6545 16Z" fill="#7D2BD9"></path> <path d="M1.06566 6.26258C0.895921 6.26258 0.733134 6.19515 0.613111 6.07513C0.493088 5.9551 0.425659 5.79232 0.425659 5.62258V3.06258C0.425659 2.55336 0.627944 2.065 0.988014 1.70493C1.34808 1.34486 1.83644 1.14258 2.34566 1.14258H11.7633C11.933 1.14258 12.0958 1.21001 12.2158 1.33003C12.3358 1.45005 12.4033 1.61284 12.4033 1.78258C12.4033 1.95232 12.3358 2.1151 12.2158 2.23513C12.0958 2.35515 11.933 2.42258 11.7633 2.42258H2.34566C2.17592 2.42258 2.01313 2.49001 1.89311 2.61003C1.77309 2.73005 1.70566 2.89284 1.70566 3.06258V5.62258C1.70566 5.79232 1.63823 5.9551 1.51821 6.07513C1.39818 6.19515 1.2354 6.26258 1.06566 6.26258Z" fill="#7D2BD9"></path> <path d="M14.9344 6.26258C14.7646 6.26258 14.6018 6.19515 14.4818 6.07513C14.3618 5.9551 14.2944 5.79232 14.2944 5.62258V3.06258C14.2944 2.89284 14.2269 2.73005 14.1069 2.61003C13.9869 2.49001 13.8241 2.42258 13.6544 2.42258H11.7632C11.5934 2.42258 11.4306 2.35515 11.3106 2.23513C11.1906 2.1151 11.1232 1.95232 11.1232 1.78258C11.1232 1.61284 11.1906 1.45005 11.3106 1.33003C11.4306 1.21001 11.5934 1.14258 11.7632 1.14258H13.6544C14.1636 1.14258 14.6519 1.34486 15.012 1.70493C15.3721 2.065 15.5744 2.55336 15.5744 3.06258V5.62258C15.5744 5.79232 15.5069 5.9551 15.3869 6.07513C15.2669 6.19515 15.1041 6.26258 14.9344 6.26258Z" fill="#7D2BD9"></path> <path d="M4.2368 3.5424C4.06706 3.5424 3.90428 3.47497 3.78425 3.35495C3.66423 3.23492 3.5968 3.07214 3.5968 2.9024V0.64C3.5968 0.470261 3.66423 0.307475 3.78425 0.187452C3.90428 0.0674284 4.06706 0 4.2368 0C4.40654 0 4.56933 0.0674284 4.68935 0.187452C4.80937 0.307475 4.8768 0.470261 4.8768 0.64V2.9024C4.8768 3.07214 4.80937 3.23492 4.68935 3.35495C4.56933 3.47497 4.40654 3.5424 4.2368 3.5424Z" fill="#7D2BD9"></path> <path d="M11.7632 3.5424C11.5934 3.5424 11.4306 3.47497 11.3106 3.35495C11.1906 3.23492 11.1232 3.07214 11.1232 2.9024V0.64C11.1232 0.470261 11.1906 0.307475 11.3106 0.187452C11.4306 0.0674284 11.5934 0 11.7632 0C11.9329 0 12.0957 0.0674284 12.2157 0.187452C12.3357 0.307475 12.4032 0.470261 12.4032 0.64V2.9024C12.4032 3.07214 12.3357 3.23492 12.2157 3.35495C12.0957 3.47497 11.9329 3.5424 11.7632 3.5424Z" fill="#7D2BD9"></path> <path d="M8.68799 9.70236H7.312C7.14226 9.70236 6.97947 9.63494 6.85945 9.51491C6.73943 9.39489 6.672 9.2321 6.672 9.06236C6.672 8.89262 6.73943 8.72984 6.85945 8.60982C6.97947 8.48979 7.14226 8.42236 7.312 8.42236H8.68799C8.85773 8.42236 9.02052 8.48979 9.14054 8.60982C9.26057 8.72984 9.32799 8.89262 9.32799 9.06236C9.32799 9.2321 9.26057 9.39489 9.14054 9.51491C9.02052 9.63494 8.85773 9.70236 8.68799 9.70236Z" fill="#7D2BD9"></path> <path d="M8.68799 12.5569H7.312C7.14226 12.5569 6.97947 12.4894 6.85945 12.3694C6.73943 12.2494 6.672 12.0866 6.672 11.9169C6.672 11.7471 6.73943 11.5843 6.85945 11.4643C6.97947 11.3443 7.14226 11.2769 7.312 11.2769H8.68799C8.85773 11.2769 9.02052 11.3443 9.14054 11.4643C9.26057 11.5843 9.32799 11.7471 9.32799 11.9169C9.32799 12.0866 9.26057 12.2494 9.14054 12.3694C9.02052 12.4894 8.85773 12.5569 8.68799 12.5569Z" fill="#7D2BD9"></path> <path d="M11.9905 9.70236H10.6177C10.4479 9.70236 10.2851 9.63494 10.1651 9.51491C10.0451 9.39489 9.97766 9.2321 9.97766 9.06236C9.97766 8.89262 10.0451 8.72984 10.1651 8.60982C10.2851 8.48979 10.4479 8.42236 10.6177 8.42236H11.9905C12.1602 8.42236 12.323 8.48979 12.443 8.60982C12.563 8.72984 12.6305 8.89262 12.6305 9.06236C12.6305 9.2321 12.563 9.39489 12.443 9.51491C12.323 9.63494 12.1602 9.70236 11.9905 9.70236Z" fill="#7D2BD9"></path> <path d="M5.38243 12.5569H4.00963C3.83989 12.5569 3.6771 12.4894 3.55708 12.3694C3.43706 12.2494 3.36963 12.0866 3.36963 11.9169C3.36963 11.7471 3.43706 11.5843 3.55708 11.4643C3.6771 11.3443 3.83989 11.2769 4.00963 11.2769H5.38243C5.55217 11.2769 5.71495 11.3443 5.83498 11.4643C5.955 11.5843 6.02243 11.7471 6.02243 11.9169C6.02243 12.0866 5.955 12.2494 5.83498 12.3694C5.71495 12.4894 5.55217 12.5569 5.38243 12.5569Z" fill="#7D2BD9"></path></svg>
        <% else %>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="slp-inline slp-align-baseline slp-mr-12"><g clip-path="url(#clip0)"><path d="M6.74245 10.8063C6.57344 10.8064 6.41124 10.7397 6.29125 10.6207L4.48005 8.79665C4.41591 8.73832 4.36428 8.66757 4.32831 8.58869C4.29234 8.50981 4.27278 8.42444 4.2708 8.33777C4.26882 8.25109 4.28447 8.16492 4.3168 8.08448C4.34913 8.00404 4.39747 7.931 4.45888 7.86981C4.5203 7.80861 4.5935 7.76053 4.67406 7.72849C4.75461 7.69644 4.84084 7.68109 4.9275 7.68338C5.01417 7.68566 5.09947 7.70553 5.17822 7.74178C5.25698 7.77803 5.32755 7.82991 5.38565 7.89425L6.75205 9.26065L10.624 5.37905C10.7474 5.27875 10.9036 5.22795 11.0624 5.23653C11.2211 5.24511 11.371 5.31246 11.4828 5.42547C11.5946 5.53847 11.6603 5.68905 11.6672 5.84787C11.6741 6.00669 11.6217 6.16239 11.52 6.28465L7.19685 10.6207C7.13704 10.68 7.06612 10.7269 6.98815 10.7587C6.91017 10.7906 6.82667 10.8067 6.74245 10.8063Z" fill="#7D2BD9"></path> <path d="M8.00003 16C6.00784 15.9991 4.08767 15.2549 2.6152 13.913C1.14273 12.5711 0.223917 10.7281 0.038519 8.74452C-0.146879 6.76097 0.41448 4.77961 1.61277 3.18809C2.81106 1.59657 4.56005 0.5094 6.51756 0.139291C8.47508 -0.230819 10.5003 0.142761 12.1969 1.18694C13.8935 2.23112 15.1395 3.87076 15.6911 5.78508C16.2426 7.69939 16.0601 9.75063 15.1792 11.5375C14.2983 13.3243 12.7824 14.7182 10.928 15.4464C10.772 15.5 10.6014 15.4912 10.4517 15.422C10.3019 15.3528 10.1847 15.2285 10.1245 15.0749C10.0642 14.9214 10.0656 14.7505 10.1282 14.5979C10.1909 14.4454 10.31 14.3229 10.4608 14.256C12.0187 13.645 13.2925 12.4747 14.0331 10.9741C14.7737 9.47353 14.9278 7.75061 14.4652 6.14242C14.0027 4.53423 12.9567 3.15648 11.532 2.27871C10.1073 1.40095 8.40634 1.08632 6.76192 1.39639C5.1175 1.70646 3.64793 2.6189 2.6407 3.95523C1.63348 5.29155 1.16107 6.95559 1.31591 8.62181C1.47074 10.288 2.24168 11.8365 3.47789 12.9644C4.7141 14.0922 6.32664 14.7183 8.00003 14.72C8.16977 14.72 8.33256 14.7874 8.45258 14.9075C8.5726 15.0275 8.64003 15.1903 8.64003 15.36C8.64003 15.5298 8.5726 15.6925 8.45258 15.8126C8.33256 15.9326 8.16977 16 8.00003 16Z" fill="#7D2BD9"></path></g> <defs><clipPath id="clip0"><rect width="16" height="16" fill="white"></rect></clipPath></defs></svg>  
        <% end %>    
        <span class="slp-font-normal slp-text-grayscale-333 slp-text-md">
          <%= item.text %>   
        </span>
        <hr class="slp-border-t slp-border-grayscale-c3 slp-col-span-full slp-mt-24 slp-mb-24">
      </div>
    <% end %>
  </div>
</section>